<h1>Confirm your post</h1>
<br>
<%= form_with(model: @blog, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
<%= link_to 'Back', new_blog_path , class: "button3"%>
<br>
<br>
<div class="table_frame">
  <table>
    <tr><th colspan="3" class="th_title">Title:&emsp; <%= @blog.title %></th></tr>        
    <tr><th colspan="3" class="th_image">
      <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
      <%= form.hidden_field :image_cache %>
    </th></tr>
      <tr><th colspan="3" class="th_content">Content:&emsp; <%= @blog.content %></th></tr>
      <tr><th colspan="3" class="th_content"></th></tr>
      <tr><th colspan="3" class="td_link"><%= form.submit %></th></tr>        
    <% end %> 
  </table>
</div>