<h1>Sign up</h1>
<%= render 'form', user: @user %>
<%= form_with(model: @user, local: true) do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :email %></p>
<p><%= f.email_field :email %></p>
<p><%= f.label :password %></p>
<p><%= f.password_field :password %></p>
<p><%= f.label :password_confirmation %></p>
<p><%= f.password_field :password_confirmation %></p>
<p><%= f.label :avatar %></p>
<p><%= f.file_field :avatar %></p>
<p><%= f.hidden_field :avatar_cache %></p>
<br> 
<p><%= f.submit "Create my account" %></p>
<% end %>
<%= link_to 'Back', @user,class:"button2" %> 
<br>

     <% Label.all.each do |label| %>
        <%= form.check_box :label, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <%= form.label :label, label.name, class:"label-bg", value: label[:id]%>
        <%= form.hidden_field :label_ids , { multiple: true } %>
      <% end %>

      <p><%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %> </p>